{% extends 'base.html' %}


{% block title %} Users {% endblock title %}


{% block body %}

<!-- <h1>All users</h1> -->

<table>
    <caption>All Users</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>

        {% for user in users  %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.password }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>


{% endblock body %}